<!DOCTYPE html>
<html>
<title>Postgres+Flask</title>
<style type="text/css">
	textArea {font-family: sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; 	line-height: 20px; resize: none;  }
</style>

<body>
	<textArea id='input'  cols=100 rows=4 style='background-color: lightblue'></textArea>
	<button onclick='sendQuery()'>Execute</button>
	<div>
		<textArea id='output' cols=100 rows=50 style='background-color: yellow'></textArea>
	</div>
</body>
</html>

<script>

const serverUrl = ''; // Тут пусто!
const input = document.getElementById('input');
const output = document.getElementById('output');

async function sendQuery() {

	requestObject = {
            method: 'POST',
            body: input.value,
            headers: new Headers({'Content-Type': 'application/text'})
        };
		
	 const request = new Request(serverUrl, requestObject);

     output.style.backgroundColor='red';
	 output.innerHTML = 'executing query...';
	 
	 await fetch(request)
            .then(response => response.json())
            .then(json => {
				if (json['error'] != '')
					output.innerHTML  = json['error'];
				
					let resultStr = '';
					for (let row of json['data'])
						resultStr += row + '\n';
						
					output.style.backgroundColor='yellow';
					output.innerHTML = resultStr;	
				});
}
</script>



